.info img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-right: 40px;
}

.info h1 {
  font-weight: 200;
  font-size: 1.8em;
}

.info {
  display: flex;
  justify-content: center;
  margin-bottom: 44px;
}

.info div {
  padding: 10px;
  white-space: nowrap;
}

.info div > * {
  padding: 5px;
}

@media screen and (max-width: 480px) {
  .info img {
    height: 100px;
    width: 100px;
  }
}
