.projects section {
  display: flex;
  justify-content: space-between;
  flex: 0 0 33.33333333%;
  flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  .projects section {
    justify-content: center;
  }
}
