.nav {
  display: flex;
  justify-content: center;
  border-top: 0.5px solid lightgray;
  margin: auto;
  padding: 1px 0;
}

.options {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.options p {
  font-weight: 400;
  color: gray;
  padding: 0 40px;
  white-space: nowrap;
}

.icon {
  font-size: 1em;
  padding-right: 5px;
}

.options > * {
  text-decoration: none;
  font-size: 0.9em;
}

@media screen and (max-width: 480px) {
  .options p {
    padding: 0 30px;
  }
}
