.background {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 36, 36, 0.7);
}

.modal {
  display: flex;
  width: 760px;
}

.background img {
  height: 500px;
  width: 66.66%;
}

.description {
  height: 500px;
  width: 33.33%;
  background-color: white;
}

.background h2 {
  background-color: inherit;
  padding: 10px;
}

.close {
  display: block;
  float: right;
  padding: 5px 5px 0 0;
  cursor: pointer;
  background-color: white;
  font-size: 1.5em;
}

.description > * {
  background-color: inherit;
}

.desc {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 90%;
}

.desc a {
  font-size: 1.2em;
  text-decoration: none;
  font-weight: 600;
}

.tech {
  font-style: initial;
  background-color: white;
}

@media screen and (max-width: 480px) {
  .background img {
    height: 250px;
  }
  .background a,
  .background h2 {
    font-size: 0.8em;
  }
  .background p {
    display: none;
  }
  .description {
    height: 200px;
  }
  .desc {
    height: 175px;
  }
  #close {
    display: block;
  }
}
